.mainContainer {
  max-width: 640px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}
.header {
  margin-bottom: 30px;
  color: #535bf2;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(83, 91, 242, 0.5),
    1px 1px 2px rgba(0, 0, 0, 0.3);
}
